body{
    margin: 0;
    background-image: url(Images/badpicture.jpg);
    height: 140vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
h1{
    color: white;
    border-color: black;
    margin-bottom: 135pt;
  
    border-style: solid;
    background-color: rgb(25, 25, 25, .7);
}

ul{
    margin: 0;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    
}


header {

    height: 20vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    margin-top: 0;

}



#nav{
    background-image:url(Images/mountimp.jpg);
   
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    border-style: solid;
    border-left: 5pt;
    border-width: 10pt;

}


p{
    margin-left: 20vw;
    margin-right: 20vw;
    display:flex;
    justify-content: center;
    font-size: 15pt;
    
    
}

.articleThings{
    text-align: center;
    padding-bottom: 25pt;
    
}



a{
    text-decoration: none;
    border-color: grey;
    color: white;
    font-size: 20pt;
    border-style: dotted;
    display: flex;

}

article{
    border-style: solid;
    margin-top: 5pt;
    margin-left: 20vw;
    margin-right: 20vw;
    background-color: rgb(25, 25, 25, .7);
    color: white;
    border-color: black;
    
}
li{
   display: flex;
    padding-top: 15vh;
    
}

li a {
    
    align-items: center;
    background-color: bisque;
    padding: 5pt;
    border-style: solid;
    border-color: brown;
    font-size: 2vh;
    color: white;
    text-decoration: none;
    color: black;
    
}
li a:hover{
    
    background-color: burlywood;
}

